.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px 0 30px;
  width: 100%;
  height: 100vh;
}

.img {
  width: 100%;
  height: 320px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 20px;
}

.name {
  color: #a6a6a6;
  margin-bottom: 20px;
  text-align: center;
}

.price {
  font-size: 30px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

.addButtonContainer {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterContainer {
  width: 150px;
  height: 50px;
}
