.category {
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
  margin: 5px;
  height: 40px;
  color: #a6a6a6;
  border-radius: 15px;
  border: 2px solid #a6a6a6;
  text-decoration: none;
}

.categoryActive {
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  margin: 5px;
  height: 40px;
  color: black;
  border-radius: 15px;
  background-color: #a6a6a6;
  text-decoration: none;
}
