@import '../../App.module.scss';

.product {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.img {
  @include image;
}

.titleDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  margin-left: 5px;
  row-gap: 5px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.description {
  text-decoration: none;
  color: #a6a6a6;
  font-size: 18px;
}

.purchase {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}

.addButtonContainer {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.counterContainer {
  width: 100px;
  height: 40px;
}
