* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  height: var(--tg-viewport-height);
}

.app {
  position: absolute;
  width: 100%;
}
