* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  height: var(--tg-viewport-height);
}

.preloader {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: black;
  top: 0;
  left: 0;
  animation: hidePreloader;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes hidePreloader {
  from {
    opacity: 1;
    visibility: visible;
    // left: 0vw;
  }
  to {
    opacity: 0;
    visibility: hidden;
    // left: -100vw;
  }
}

.app {
  position: absolute;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

// .preloader {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background: black;
//   z-index: 2;
//   transition: 1s all;
//   opacity: 1;
//   visibility: visible;
// }

.preloader_done {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 2;
  transition: 2s all;
  opacity: 0;
  visibility: hidden;
}

.loader {
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader_done {
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 2s all;
  opacity: 0;
  visibility: hidden;
}
