* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  height: var(--tg-viewport-height);
}

.app {
  position: absolute;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  width: 0;
}

::-webkit-scrollbar-track {
  width: 0;
}

::-webkit-scrollbar-button {
  width: 0;
}

@mixin image {
  width: 85px;
  height: 85px;
  margin: 5px;
  border-radius: 10px;
  object-fit: cover;
  background-color: gray;
}
